{% extends 'App::layout.html.twig' %}

{% set title = 'поле „' ~ label.name ~ '“' %}
{% block content %}
{{ form_start(form, { attr: {class: "edit-form main-form"} }) }}
	{{ form_errors(form) }}

	<dl>
		<dt>{{ form_label(form.slug, 'Идентификатор') }}</dt>
		<dd>{{ form_widget(form.slug) }}</dd>
		<dt>{{ form_label(form.name, 'Имя') }}</dt>
		<dd>{{ form_widget(form.name) }}</dd>
		<dt>{{ form_label(form.parent, 'Родитель') }}</dt>
		<dd>{{ form_widget(form.parent) }}</dd>
	</dl>

	<div>
		<ul class="actions">
			<li class="submit"><input type="submit" value="Запись"></li>
			<li class="cancel"><a href="{{ path('labels') }}">Все метки</a></li>
		</ul>
	</div>
{{ form_end(form) }}
{% endblock %}
