{% extends '@DdrGitki/browse.html.twig' %}

{% block ddr_gitki_ddr_giki_title %} - {{ path }} - Listing{% endblock ddr_gitki_ddr_giki_title %}

{% block ddr_gitki_ddr_giki_body_class %}wiki directory-listing{% endblock ddr_gitki_ddr_giki_body_class %}

{% block ddr_gitki_actions %}
    {% if is_granted('GITKI_WRITE_PATH', path) %}
        <div class="dropdown pull-right ddr-gitki-global-actions">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="actions-dropdown" data-bs-toggle="dropdown">
                <span class="fa fa-cog"></span>
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-end" role="menu" aria-labelledby="actions-dropdown">
                <a class="dropdown-item" href="{{ path('ddr_gitki_directory', {'path': path, 'action': 'subdirectory.create'}) }}" role="menuitem" tabindex="-1"
                   title="Add Folder">
                    <span class="fas fa-fw fa-plus"></span> Add folder
                </a>
                <a class="dropdown-item" href="{{ path('ddr_gitki_directory', {'path': path, 'action': 'file.upload'}) }}" role="menuitem" tabindex="-1"
                   title="Upload File">
                    <span class="fas fa-fw fa-file-upload"></span> Upload file
                </a>
                {% for extension,name in editableExtensions %}
                    <a class="dropdown-item" href="{{ path('ddr_gitki_directory', {'path': path, 'action': 'file.create', 'extension': extension}) }}"
                       role="menuitem" tabindex="-1" title="Create {{ name }} file">
                        <span class="fas fa-fw fa-file"></span> Create {{ name }} file
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock ddr_gitki_actions %}

{% block ddr_gitki_main_content %}

    <div class="page-header">
        <h1>{% if path.name %}{{ path.name|dirTitle }}{% else %}<span class="fa fa-home"></span>{% endif %}</h1>
    </div>

    {% if directoryListing.subDirectories is not empty %}
        <div class="card ddr-gitki-directory-subdirectories">
            <h2 class="card-header">Folders</h2>
            <div class="list-group list-group-flush">
                {% for dir in directoryListing.subDirectories %}
                    <div class="list-group-item">
                        <div class="ddr-gitki-item-actions">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="filedropdown{{ loop.index }}"
                                        data-bs-toggle="dropdown">
                                    <span class="fas fa-fw fa-folder"></span>
                                </button>
                                <div class="dropdown-menu" role="menu" aria-labelledby="filedropdown{{ loop.index }}">
                                    {% if is_granted('GITKI_WRITE_PATH', path) %}
                                        <a role="menuitem" tabindex="-1" class="dropdown-item"
                                           href="{{ path('ddr_gitki_directory', {'path': dir.absolutePath, 'action': 'remove'}) }}"
                                           title="Delete"><span class="fas fa-fw fa-trash"></span> Remove
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="ddr-gitki-item-name">
                            <a href="{{ path('ddr_gitki_directory', {'path': dir.absolutePath, 'action': 'index'}) }}">{{ dir.filename|dirTitle }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if directoryListing.files is not empty %}
        <div class="card ddr-gitki-directory-files">
            <h2 class="card-header">Files</h2>
            <div class="list-group list-group-flush">
                {% for file in directoryListing.files %}
                    <div class="list-group-item">
                        <div class="ddr-gitki-item-actions">
                            <div class="dropdown">
                                <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="filedropdown{{ loop.index }}"
                                        data-bs-toggle="dropdown">
                                    <span class="fas fa-fw fa-file"></span> <b class="caret"></b>
                                </button>
                                <div class="dropdown-menu" role="menu" aria-labelledby="filedropdown{{ loop.index }}">
                                    {% if is_granted('GITKI_WRITE_PATH', file.absolutePath) %}
                                        <a role="menuitem" tabindex="-1" title="Edit" class="dropdown-item"
                                           href="{{ path('ddr_gitki_file', {'path': file.absolutePath, 'action': 'edit'}) }}">
                                            <span class="fas fa-fw fa-pen"></span> Edit
                                        </a>
                                        <a role="menuitem" tabindex="-1" class="dropdown-item"
                                           href="{{ path('ddr_gitki_file', {'path': file.absolutePath, 'action': 'move'}) }}"
                                           title="Rename"><span class="fas fa-fw fa-arrows-alt-h"></span> Move
                                        </a>
                                        <a role="menuitem" tabindex="-1" class="dropdown-item"
                                           href="{{ path('ddr_gitki_file', {'path': file.absolutePath, 'action': 'remove'}) }}"
                                           title="Delete"><span class="fas fa-fw fa-trash"></span> Remove
                                        </a>
                                    {% endif %}
                                    <a role="menuitem" tabindex="-1" class="dropdown-item"
                                       href="{{ path('ddr_gitki_file', {'path': file.absolutePath, 'action': 'history'}) }}"
                                       title="History"><span class="fas fa-fw fa-history"></span> History
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ddr-gitki-item-name">
                            <a href="{{ path('ddr_gitki_file', {'path':file.absolutePath}) }}">
                                {% if file.title is not empty %}
                                    <span>{{ file.title }}</span> <span class="text-muted">{{ file.filename }}</span>
                                {% else %}
                                    {{ file.filename }}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock ddr_gitki_main_content %}
