{% extends '@DdrGitki/File/view.html.twig' %}

{% block ddr_gitki_title %} - {{ document.title }}{% endblock ddr_gitki_title %}

{% block ddr_gitki_body_class %}wiki page show{% endblock ddr_gitki_body_class %}

{% block ddr_gitki_main_content %}
    <div class="markdown-page">
        {% if (ddr_gitki_markdown_show_toc and document.toc is not empty) or ddr_gitki_show_directory_contents %}
            <div class="row">
                <div class="markdown-html col-md-8">
                    {{ document.html|raw }}
                </div>
                <div class="col-md-4 margin-top-1x-md">
                    {% if ddr_gitki_markdown_show_toc and document.toc is not empty %}
                        {{ include('@DdrGitki/Markdown/toc.partial.html.twig') }}
                    {% endif %}
                    {% if ddr_gitki_show_directory_contents %}
                        {{ include('@DdrGitki/File/directory.contents.partial.html.twig') }}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="markdown-html">
                {{ document.html|raw }}
            </div>
        {% endif %}
    </div>
{% endblock ddr_gitki_main_content %}

{% block ddr_gitki_javascript %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock ddr_gitki_javascript %}

{% block ddr_gitki_stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/styles/default.min.css">
    {{ parent() }}
{% endblock ddr_gitki_stylesheet %}
