{% extends '::base.html.twig' %}

{% if title is defined and pager is defined and pager.has_prev %}
	{% set suffix = 'страница '~pager.page %}
	{% set subtitle = subtitle is defined ? subtitle ~' — '~ suffix : suffix %}
{% endif %}
{#Заполняем тег <title>#}
{% block title %}
	{% if title is defined %}
		{{ title|doctitle }}
		{% if subtitle is defined %}
			— {{ subtitle|doctitle }}
		{% endif %}
		— {{ parent() }}
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block head %}<meta name="description" content="Литературный сборник">{% endblock %}

{# Добавляет в элементу <body> класс вида class="page-($current_route) #}
{#{% block body_class %}page-{{ current_route }}{% endblock %}#}

{% block body %}
        
    {#Выводит всплывающее окно, где формируется пока хз#}
    {% if global_info_message is not empty %}
	<div id="global-info-message">
            <span class="fa fa-warning"></span>
            {{ global_info_message|raw }}
	</div>
    {% endif %}
    {#выводим верхнее меню#}
    {% include 'App::nav_header.html.twig' %}

    <div class="container wrapper">
            {#Неводомое доколе сообщение, откуда брать пока ...#}
            {% block site_notice %}
                {{ render(controller('App:SiteNotice:stripe')) }}
            {% endblock %}
            
            {#'Гениальное' решение подстановки группы хедеров прям в главном шаблоне#}
             <header id="main-content" role="main">
            {% if subtitle is defined %}
                <div id="first-heading">
                    <hgroup>
                        <h1>{{ title|raw }}</h1>
                        <h2><span>({{ subtitle|trim|raw }})</span></h2>
                    </hgroup>
                </div>
            {% elseif title is defined %}
                <div id="first-heading">
                    <h1>{{ title|raw }}</h1>
                </div>
            {% endif %}
            </header>
            <main class="page-content">
                {#Как бы вывод ошибок ... О чём ... Зачем..#}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="messages error alert alert-error">{{ flashMessage|raw }}</div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="messages alert alert-info">{{ flashMessage|raw }}</div>
                {% endfor %}

                {#А вот и основной контент#}
                {% block content '' %}
            </main>

        {#Сайдбар#}
        <sidebar id="navigation" role="navigation">
            {% block navigation %}
		<h2 class="sr-only">Навигация</h2>
                <div id="logo" role="banner">
                    <a href="{{ path('homepage') }}" title="В начало"><span class="text-hide">Teralit.ru</span><span></span></a>
		</div>

                {% block personal_tools %}{{ render_esi(controller('App:User:personalTools')) }}{% endblock %}

		{% block navlinks %}<div class="sidebar-menu">{{ navlinks|raw }}</div>{% endblock %}

		{% block search_form %}
                    {% include 'App::search_form.html.twig' %}
		{% endblock %}

		{% block navextra %}
                    {% include 'App::navextra.html.twig' %}
		{% endblock %}

            {% endblock %}
	</sidebar>
    </div>

    <footer role="contentinfo">
	{% block footer %}
            <h2 class="sr-only">Дополнительная информация</h2>
            {#{{ footer_links|raw }}#}
	{% endblock %}
    </footer>

    <a href="#main-content" id="goto-top-link" title="В начало страницы"><span class="fa fa-chevron-circle-up"></span><span class="sr-only">В начало страницы</span></a>

    {#Неведомый блок#}
    <div id="env-{{ environment }}"></div>
{% endblock body %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
{% endblock %}

{% block javascripts %}
	<script>
		var _GLOBALS = {
			scriptname: "{{ path('homepage') }}"
		};
	</script>
        <script src="js/jq.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/collapse.js"></script>
{#	{% set scripts = [] %}
	{% if script_library %}
		<script src="{{ script_library }}"></script>
	{% else %}
		{% set scripts = ['vendor/js/jquery'] %}
	{% endif %}
	{% set scripts = scripts|merge(['vendor/js/jquery-cookie', 'jquery-myplugins', 'main']) %}
	<script src="{{ asset('js/' ~ scripts|join(',')|replace({'/': '--'}) ~'.js') }}"></script>
	<script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
	{% if js_extra is defined %}
		<script src="{{ asset('js/' ~ js_extra|join(',')|replace({'/': '--'}) ~'.js') }}"></script>
	{% endif %}

	<script>
		{% if inline_js is defined %}
			{{ inline_js|raw }}
		{% endif %}
		{% block inline_js %}{% endblock %}
		$.each(user_functions, function(i, func){
			func();
		});
	</script>
	{{ analytics_snippet|raw }}#}
{% endblock %}