<div class="navbody">
	<h3>Читалня</h3>
	<ul class="textmenu">
		<li><a href="{{ path('authors') }}">Авторы</a></li>
		<li><a href="{{ path('translators') }}">Переводчики</a></li>
		<li><a href="{{ path('books') }}">Книги</a></li>
		<li><a href="{{ path('texts') }}">Произведения</a></li>
		<li><a href="{{ path('text_random') }}">Случайное произведение</a></li>
		<li><a href="{{ path('series') }}">Серии</a></li>
		<li><a href="{{ path('sequences') }}">Связки</a></li>
		<li><a href="{{ path('texts_comments') }}">Рецензии</a></li>
	</ul>
</div>
<div class="navbody">
	<h3>Работа сайта</h3>
	<ul class="textmenu">
		<li><a href="{{ path('new') }}">Новоее</a></li>
		<li><a href="{{ path('workroom') }}">События</a></li>
		<li><a href="{{ path('statistics') }}">Статистика</a></li>
	</ul>
</div>
