<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
               href="{{ path('ddr_gitki_directory', {'action': 'index', 'path': '/'}) }}">{{ ddr_gitki_name }}</a>
        </div>
        <div class="collapse navbar-collapse navbar-collapse">
            {% block ddr_gitki_navbar_left %}
                <ul class="nav navbar-nav">
                    {% block ddr_gitki_navbar_left_content %}
                        {{ include('DdrGitkiBundle:Navbar:left.partial.html.twig') }}
                    {% endblock ddr_gitki_navbar_left_content %}
                </ul>
            {% endblock ddr_gitki_navbar_left %}
            {% block ddr_gitki_navbar_form %}
                {{ include('DdrGitkiBundle:Navbar:form.partial.html.twig') }}
            {% endblock ddr_gitki_navbar_form %}
            {% block ddr_gitki_navbar_right %}
                <ul class="nav navbar-nav navbar-right">
                    {% block ddr_gitki_navbar_right_content %}
                        {{ include('DdrGitkiBundle:Navbar:right.partial.html.twig') }}
                    {% endblock ddr_gitki_navbar_right_content %}
                </ul>
            {% endblock ddr_gitki_navbar_right %}
        </div>
    </div>
</nav>
