<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('ddr_gitki_directory', {'action': 'index', 'path': '/'}) }}">{{ ddr_gitki_display_name }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% block ddr_gitki_navbar_left %}
                <ul class="navbar-nav me-auto">
                    {% block ddr_gitki_navbar_left_content %}
                        {{ include('@DdrGitki/Navbar/left.partial.html.twig') }}
                    {% endblock ddr_gitki_navbar_left_content %}
                </ul>
            {% endblock ddr_gitki_navbar_left %}

            {% block ddr_gitki_navbar_form %}
                {{ include('@DdrGitki/Navbar/form.partial.html.twig') }}
            {% endblock ddr_gitki_navbar_form %}

            {% block ddr_gitki_navbar_right %}
                <ul class="navbar-nav">
                    {% block ddr_gitki_navbar_right_content %}
                        {{ include('@DdrGitki/Navbar/right.partial.html.twig') }}
                    {% endblock ddr_gitki_navbar_right_content %}
                </ul>
            {% endblock ddr_gitki_navbar_right %}
        </div>
    </div>
</nav>
