{% if directoryListing.files is not empty %}
    <div class="card ddr-gitki-directory-files mb-3">
        <h5 class="card-header">Files</h5>
        <ul class="list-group list-group-flush">
            {% for file in directoryListing.files %}
                <li class="list-group-item">
                    <a href="{{ path('ddr_gitki_file', {'path':file.absolutePath}) }}">
                        {% if file.title is not empty %}
                            {{ file.title }}
                        {% else %}
                            {{ file.filename }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if directoryListing.subDirectories is not empty %}
    <div class="card ddr-gitki-directory-folders mb-3">
        <h5 class="card-header">Folders</h5>
        <ul class="list-group list-group-flush">
            {% for dir in directoryListing.subDirectories %}
                <li class="list-group-item">
                    <a href="{{ path('ddr_gitki_directory', {'path': dir.absolutePath, 'action': 'index'}) }}">
                        {{ dir.filename|dirTitle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
