<ol class="breadcrumb ddr-gitki-breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('ddr_gitki_directory', {'path': '/', 'action': 'index'}) }}">
            <span class="fa fa-home"></span>
        </a>
    </li>
    {% if path.parent is not null %}
        {% for parentPath in path.parent.collectPaths %}
            {% if parentPath.name is not empty %}
                <li class="breadcrumb-item">
                    <a href="{{ path('ddr_gitki_directory', {'path': parentPath, 'action': 'index'}) }}">{{ parentPath.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    <li class="breadcrumb-item active">
        {% if path.type.value is same as ('file') %}
            <a href="{{ path('ddr_gitki_file', {'path': path}) }}">
                {{ path.name }}
            </a>
        {% else %}
            <a href="{{ path('ddr_gitki_directory', {'path': path, 'action': 'index'}) }}">
                {{ path.name }}
            </a>
        {% endif %}
    </li>
</ol>
