{% extends 'App::layout.html.twig' %}
{#Ещё одна находка! Выводит юзер меню и поиск#}
{% block navigation %}
    {{ render_esi(controller('App:User:personalTools')) }}
    {% include 'App::search_form.html.twig' %}
{% endblock %}

{% block site_notice %}{% endblock %}

{% block content %}
    {#Опять нотисы#}
    {% for siteNotice in siteNotices %}
        <div class="alert alert-info site-notice" style="{{ siteNotice.style }}">
            {{ siteNotice.content|raw }}
        </div>
    {% endfor %}

    <div class="row">
        <ul class="nav nav-pills center-block">
            <li class="nav-item">
                {#<span class="fa fa-users"></span>#}
                <a class="nav-link" href="{{ path('authors') }}">Авторы</a>
            </li>
            <li class="nav-item">
{#                <span class="fa fa-edit"></span>#}
                <a class="nav-link" href="{{ path('translators') }}">Переводчики</a>
            </li>
            <li class="nav-item">
{#                <span class="fa fa-book"></span>#}
                <a class="nav-link" href="{{ path('books') }}">Книги</a>
            </li>
            <li class="nav-item">
{#                <span class="fa fa-folder-open"></span>#}
                <a class="nav-link" href="{{ path('texts') }}">Произведения</a>
            </li>
            <li class="nav-item">
{#                <span class="fa fa-sitemap"></span>#}
                <a class="nav-link" href="{{ path('series') }}">Серии</a>
            </li>
            <li class="nav-item">
{#                <span class="fa fa-calendar"></span>#}
                <a class="nav-link" href="{{ path('new') }}">Новое</a>
            </li>
            <li class="nav-item">
{#                <span class="fa fa-table"></span>#}
                <a class="nav-link" href="{{ path('workroom') }}">Заказы</a>
            </li>
        </ul>
    </div>
        
    {#Пока ненужный функционал, возможно пригодится, хотя навряд#}
    {#<div class="special-books">
        {% if review is not empty %}
                <section id="mp-review" class="box box3 bookbox">
                        <h2><a href="{{ path('reviews') }}">Открытие</a></h2>
                        {% include 'App:FeaturedBook:book.html.twig' with {book: review} %}
                </section>
        {% endif %}
            <section id="mp-foreign-book" class="box box3 bookbox">
                    <h2><a href="{{ path('foreign_books') }}">Купить</a></h2>
                    {% include 'App:ForeignBook:book.html.twig' with {book: foreign_book} %}
            </section>
            <section id="mp-featured-book" class="box box3 bookbox">
                    <h2><a href="{{ path('featured_books') }}">Читать</a></h2>
                    {% include 'App:FeaturedBook:book.html.twig' with {book: featured_book} %}
            </section>
    </div>
    <div class="separator"></div>#}

	<section id="mp-new-books" class="box box2">
            <h2><a href="{{ path('new_books') }}">Новые книги</a></h2>
            <div class="well">
                {% include 'App:Main:last_books.html.twig' with {book_revisions: books} %}
                <div class="more"><a href="{{ path('new_books') }}">Ещё Новые книги</a></div>
            </div>
	</section>
            <hr>
{#Новые произведения - функционал пока не действует#}
	{#<section id="mp-new-texts" class="box box2 textbox">
		<h2><a href="{{ path('new_texts') }}">Новые произведения</a></h2>
		<div class="well">
			{% include 'App:Main:last_texts.html.twig' with {text_revisions: latest_texts} %}
			<div class="more"><a href="{{ path('new_texts') }}">Ещё Новые произведения</a></div>
		</div>
	</section>#}
{#Блог - функционал пока не действует#}
	{#<section id="mp-liternews" class="box liternewsbox">
		<h2><a href="http://blog.bookshelf.local/">Блог</a></h2>
                {% if not latest_liternews.empty %}
			{{ latest_liternews|raw }}
		{% else %}
			<p class="error">Неуспех при вземането на последните литературни новини.</p>
		{% endif %}
	</section>#}

	<section id="mp-reader-comments" class="box box2 commentbox">
		<h2><a href="{{ path('texts_comments') }}">Посследние комментарии</a></h2>
		{% include 'App:TextComment:latest_comments.html.twig' with {comments: comments} %}
	</section>
	<section id="mp-forum-posts" class="box box2 forumbox">
		<h2><a href="http://forum.bookshelf.local">Форум</a></h2>
                {#{% if not latest_forum_posts.empty %}
			{{ latest_forum_posts|raw }}
		{% else %}
			<p class="error">Неуспех при вземането на последните форумни съобщения.</p>
		{% endif %}#}
	</section>
{% endblock %}