{% extends '@DdrGitki/browse.html.twig' %}

{% block ddr_gitki_title %} - {{ path }} - Edit{% endblock ddr_gitki_title %}

{% block ddr_gitki_body_class %}wiki edit page{% endblock ddr_gitki_body_class %}

{% block ddr_gitki_actions %}
{% endblock ddr_gitki_actions %}

{% block ddr_gitki_main_content %}
    <div class="page-header">
        <h1>Edit text file</h1>
    </div>
    <div>
        {{ form_start(form, { 'attr': {'class' : 'edit' }}) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary" name="save">Save</button>
        <a href="{{ path('ddr_gitki_file', {'path': path, 'action': 'cancel'}) }}" class="btn btn-default">Cancel</a>
        {{ form_end(form) }}
    </div>
{% endblock ddr_gitki_main_content %}

{% block ddr_gitki_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ddrgitki/js/holdlock.js') }}"></script>
    <script type="text/javascript">
        var holdLock = new HoldLock("{{ path('ddr_gitki_file', {'path': path, 'action': 'holdlock'}) }}");
    </script>
    <script type="text/javascript">
        $("form.edit").submit(function (event) {
            holdLock.cancel();
        });
    </script>
{% endblock ddr_gitki_javascript %}
